<%- include('header') %>

<style>
  .sidebar-fixed {
      position: fixed;  
  };
</style>

  <% articles.filter(article => article.id === id).forEach(article => { %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
          <h1><%= article.name %></h1>
          <p>投稿者：<%= article.author %></p>
          <p>執筆日時：<%= article.date %></p>
          <p>タグ（種類）：<%= article.tag %></p>
          <hr class="mt-3 mb-3">
          <div>
              <%- article.content %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sidebar-fixed" id="sidebar">
          <h3>サイドバー</h3>
          <%- article.sidebar %>
          </div>
        </div>
      </div>
    </div>
  <% }) %>


  <script>
    window.addEventListener('scroll', function() {
      var element = document.getElementById('sidebar');
      var rect = element.getBoundingClientRect();
      element.style.position = 'fixed';
      element.style.top = rect.top + 'px';
      element.style.left = rect.left + 'px';
    });
  </script>
<%- include('footer') %>